



{% extends "header.html" %} 


		{% block content %}
			<div class="container">
				<div class="page-header">
                        
                      <ul class="nav navbar-nav">
                         <li><a href="/account">Back</a></li> 
                      </ul>
                      
                      <p> Update Account  </p>
				</div> 
                     
				<div class="col-md-12">

           
                   <form method=post action="/acc_update" class="form-horizontal form-label-left">  

                   	 <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">IsActive
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="isactive"  value="{{ account.isactive}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Name
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="name"   value="{{ account.name}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>


                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Motto
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="motto"   value="{{ account.motto}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>


                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Website
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="website"   value="{{ account.website}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Logo
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="logo"   value="{{ account.logo}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Signature
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="signature"   value="{{ account.signature}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Username
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="username"   value="{{ account.username}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Password
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="password"   value="{{ account.password}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Mobile
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="mobile"   value="{{ account.mobile}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Email
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="email"   value="{{ account.email}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Address
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="address"  value="{{ account.address}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Town
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="town"  value="{{ account.town}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">IsBoarding
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="isboarding"  value="{{ account.isboarding}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">IsMixed
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" name="ismixed"  value="{{ account.ismixed}}" class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Lastupdated
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                        	<input type="text"  value="{{ account.lastupdated}}" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Creation Date
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text"  value="{{ account.creationdate}}" disabled class="form-control col-md-7 col-xs-12">
                        </div>
                      </div>


                      <input type="hidden" name="uuid" value="{{ account.uuid}}" >

                      <p align="center"> <input type=submit value=Update> </p> 


					</form> 
					

				</div>  

				
			</div>
      
		{% endblock %}

  
