
{% extends "header.html" %} 


		{% block content %}

			<div class="container">
				<div class="page-header">

				<table class="table">
				    <thead>
				        <tr>
				            <th>#</th>
				            <th>Name</th>
				            <th>Username</th>
				            <th>Email</th> 
				            <th>Mobile</th> 
				            <th>Address</th> 
				            <th>Town</th> 
				            <th>Action</th>
				        </tr>
				    </thead>

					

					 {% for account in accounts %} 
                          
                            <tbody>
	                            <td> {{ account.id }} </td>
					            <td> {{ account.name }} </td>
					            <td> {{ account.username }} </td>
					            <td> {{ account.email }} </td>  
					            <td> {{ account.mobile }} </td>  
					            <td> {{ account.address }} </td> 
					            <td> {{ account.town }} </td> 
					            <td> 
					          	    <a href="{{ url_for('load_acc_profile', account_id=account.uuid) }}"> Profile </a> 
					            </td>  
				            </tbody> 

					 {% endfor %}


					 
				</table>

				   

				</div> 
			</div>
			
		{% endblock %}

  
