
{% extends "header.html" %} 


		{% block content %}

			<div class="container">
				
			     <h1>Qubintel Files download Center</h1>  

				 <dir class="container" align="left">
				 	Current war file 
				 	<a href="/return_file/" target="_blank"> 
			         <button class="btn btn-default">
			         	Download (108.6Mb) 
			         </button> 
				 	</a>
				 </dir>

			</div>	 


{% endblock %} 